/*
	Pictures from unsplash.com! Beautiful high quality free images and photos you can download and use for any project. No attribution required.
	victoriano-izquierdo-109924.jpg - Photo by Victoriano Izquierdo on Unsplash
	patrick-baum-194972.jpg - Photo by Patrick Baum on Unsplash
	dan-calderwood-419654.jpg - Photo by Dan Calderwood on Unsplash
	sebastien-408660.jpg - Photo by Sebastien on Unsplash
	adam-jang-266829.jpg - Photo by Adam Jang on Unsplash
	igor-ovsyannykov-165862.jpg - Photo by Igor Ovsyannykov on Unsplash
	holly-mandarich-232349.jpg - Photo by Holly Mandarich on Unsplash
	brian-kairuz-323251 - Photo by Brian Kairuz on Unsplash
*/
body {
  background-color: #e5d5bb; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: white; }

.header {
  height: 321px;
  background-repeat: no-repeat;
  background-image: url("img/header.png"); }

.main-menu, .footer {
  height: 75px;
  background-color: #633e23; }
  .main-menu ul, .footer ul {
    vertical-align: middle; }
    .main-menu ul li, .footer ul li {
      font-weight: bold;
      margin: 15px;
      display: inline-flex;
      font-size: 30px; }
      .main-menu ul li a, .footer ul li a {
        color: #e5d5bb; }
      .main-menu ul li a:hover, .footer ul li a:hover {
        text-decoration: underline; }

#mi-carousel {
  height: 400px; }
  #mi-carousel img {
    height: 400px; }

.sec-menu {
  /* TODO: Use the extend property from sass on main-menu -> @extend .main-menu */
  background-color: #633e23; }
  .sec-menu .sec-text {
    height: 50px; }
    .sec-menu .sec-text ul {
      vertical-align: middle; }
      .sec-menu .sec-text ul li {
        margin: 15px;
        display: inline-flex;
        font-size: 20px;
        font-weight: normal; }
        .sec-menu .sec-text ul li a {
          color: #e5d5bb; }

.separator {
  height: 5px;
  background-color: #d28e0f; }

.gallery {
  margin-top: 30px;
  margin-bottom: 30px;
  /*background: linear-gradient($backgroundColor, #d2ba98);*/ }
  .gallery .portrait {
    display: inline-flex; }
    .gallery .portrait img {
      height: 180px;
      margin: 5px;
      opacity: 0.6; }
    .gallery .portrait img:hover {
      opacity: 1; }

.main-content {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 10px; }
  .main-content .vertical-gallery-container {
    border: 1px solid #633e23;
    width: 20%;
    margin: 5px; }
    .main-content .vertical-gallery-container .headline {
      text-align: right;
      background-color: #633e23; }
      .main-content .vertical-gallery-container .headline .title {
        color: white;
        font-weight: bold;
        font-size: 34px; }
      .main-content .vertical-gallery-container .headline .plus {
        color: #d28e0f;
        font-size: 34px;
        font-weight: bold;
        margin-right: 15px; }
    .main-content .vertical-gallery-container .imgs-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; }
      .main-content .vertical-gallery-container .imgs-container img {
        margin-left: 25px;
        margin-top: 10px;
        height: 240px;
        width: 330px; }
  .main-content .news-container {
    width: 35%; }
    .main-content .news-container .column-content {
      border: 1px solid #633e23;
      margin: 5px; }
      .main-content .news-container .column-content .new-container .headline, .main-content .news-container .column-content .mini-news-container .headline {
        text-align: right;
        background-color: #633e23; }
        .main-content .news-container .column-content .new-container .headline .title, .main-content .news-container .column-content .mini-news-container .headline .title {
          color: white;
          font-weight: bold;
          font-size: 34px; }
        .main-content .news-container .column-content .new-container .headline .plus, .main-content .news-container .column-content .mini-news-container .headline .plus {
          color: #d28e0f;
          font-size: 34px;
          font-weight: bold;
          margin-right: 15px; }
      .main-content .news-container .column-content .new-container .content .new-title, .main-content .news-container .column-content .mini-news-container .content .new-title {
        color: #633e23;
        font-size: 28px;
        font-weight: bold; }
      .main-content .news-container .column-content .new-container .content .new-content, .main-content .news-container .column-content .mini-news-container .content .new-content {
        color: black;
        font-size: 20px; }
      .main-content .news-container .column-content .mini-news-container {
        display: inline-flex;
        justify-content: center;
        margin-left: 20px; }
        .main-content .news-container .column-content .mini-news-container .mini-new {
          margin: 5px; }
        .main-content .news-container .column-content .mini-news-container img {
          height: 150px;
          width: 190px; }

.footer {
  background: linear-gradient(black, #633e23);
  color: #e5d5bb;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .footer .contenedor {
    width: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .footer .contenedor .footer-element {
      width: 30%;
      display: inline-flex;
      flex-direction: column;
      text-align: center; }
    .footer .contenedor .copyright {
      font-weight: bold; }
    .footer .contenedor .social {
      font-size: 24px; }
      .footer .contenedor .social .icons {
        flex-direction: row; }
        .footer .contenedor .social .icons img {
          margin: 5px;
          border-radius: 10%;
          height: 50px;
          width: 50px; }
    .footer .contenedor .subscribe {
      flex-direction: column; }
      .footer .contenedor .subscribe #subs {
        font-size: 18px;
        text-align: left; }
      .footer .contenedor .subscribe #email {
        font-size: 21px;
        text-align: left; }
      .footer .contenedor .subscribe input[type='text'] {
        background-color: #e5d5bb;
        width: 250px;
        border: 1px solid #d28e0f;
        margin-bottom: 10px;
        height: 35px;
        color: #633e23;
        font-size: 24px; }
      .footer .contenedor .subscribe input[type='submit'] {
        color: #e5d5bb;
        background-color: #d28e0f;
        width: 60px; }

/*# sourceMappingURL=estilos.css.map */
